<%- include('./partials/header.ejs')%>
<main style="position: relative; background-image: url('/images/mangacollage.png'); background-size: cover; background-position: center; height: 100vh; padding: 0;">
    <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.6); z-index: 1;"></div>
    <div class="text-center my-5" style="position: relative; z-index: 2; background-color: rgba(0, 0, 0, 0.6); padding: 30px; border-radius: 10px; max-width: 50%; margin: 0 auto;">
        <h1 class="fw-bold">Welcome to MangaMarket!</h1>
        <p class="lead text-white">Buy & Sell Rare Manga with Other Collectors!</p>
        <p class="lead text-white">You can use this website to buy manga of any condition from certified sellers or even sell your own manga!</p>
        <a href='/mangas' class="btn btn-dark btn-lg mt-3">Start Browsing</a>
    </div>
</main>
<%- include('./partials/footer.ejs')%>   