<%- include('../partials/header.ejs')%>
    <main class="container my-5">
        <h1 class="text-center fw-bold">Become a member now!</h1>
        <div class="border p-4 rounded-3 shadow-sm" style="max-width: 600px; margin: 0 auto;">   
        <form action = '/users/login' method = 'POST' enctype="multipart/form-data" class="mt-4">
            <div class="mb-3">
                <label for="email">Email Address</label></td>
                <input type="email" id="email" name="email" class="form-control" required></td>
            </div>
            <div class="mb-3">    
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control" required>
            </div>
                <input type="submit" class="btn btn-dark w-100" value="Login">      
        </form>
        </div>
    </main>
<%- include('../partials/footer.ejs')%>