<%- include('../partials/header.ejs')%>
<main class="container my-5">
    <h1 class="text-center fw-bold">Become a member now!</h1>
    <div class="border p-4 rounded-3 shadow-sm" style="max-width: 600px; margin: 0 auto;">   
    <form action = '/users' method = 'POST' class="mt-4">
        <div class="mb-3">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstName" class="form-control" required>
        </div>
        <div class="mb-3">    
            <label for="lastName">Last Name</label></td>
            <input type="text" id="lastName" name="lastName" class="form-control" required></td>
        </div>
        <div class="mb-3">   
            <label for="email">Email Address</label>
            <input type="email" id="email" name="email" class="form-control" required>
        </div>
        <div class="mb-3">    
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" minlength="8" required>
        </div>
            <input type="submit" class="btn btn-dark w-100" value="Sign Up">      
    </form>
    </div>
</main>
    <%- include('../partials/footer.ejs')%>